# Stolpersteine in Berlin

In [5]:
#### I found this dataset here : https://daten.berlin.de/datensaetze/liste-der-stolpersteine-berlin
#### Unlike Wikipedia it does not give you the inscription
#### But there are links to the biography

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('stolpersteine_berlin.csv')
df.head()

,Vorname,Nachname,Geburtsjahr,Längengrad,Breitengrad,Straße,Hausnummer,Straße + Hausnummer,Postleitzahl,Ortsteil,Ortsteil-ID,Bezirk,Bezirk-ID,Virtueller-Stein,Url zu Biografie
0,Hedwig,Abraham,1861,13.410555,52.513028,Märkisches Ufer,20,10179.0,Märkisches Ufer 20,Mitte,62,Mitte,61.0,0,https://www.stolpersteine-berlin.de/biografie/1
1,Richard,Abraham,1895,13.408110,52.512010,Wallstraße,84,10179.0,Wallstraße 84,Mitte,62,Mitte,61.0,0,https://www.stolpersteine-berlin.de/biografie/2
2,Herta,Abraham,1895,13.408110,52.512010,Wallstraße,84,10179.0,Wallstraße 84,Mitte,62,Mitte,61.0,0,https://www.stolpersteine-berlin.de/biografie/3
3,Ruth Nelly,Abraham,1934,13.408110,52.512010,Wallstraße,84,10179.0,Wallstraße 84,Mitte,62,Mitte,61.0,0,https://www.stolpersteine-berlin.de/biografie/4
4,Edmond,Adout,1889,13.336152,52.521803,Dortmunder Str.,9,10555.0,Dortmunder Str. 9,Moabit,63,Mitte,61.0,0,https://www.stolpersteine-berlin.de/biografie/5

In [8]:
# How many Stolpersteine in total?
len(df)

9788

In [9]:
## How many Stolpersteine per Bezirk? 
## A lot more stones in the west, especially in Charlottenburg which is a wealthy part of the city. 
## Did more victims live there - or did wealthy people donate more stones to their neighborhood?
df['Bezirk'].value_counts()

Bezirk
Charlottenburg-Wilmersdorf    3474
Mitte                         1959
Friedrichshain-Kreuzberg      1036
Tempelhof-Schöneberg          1011
Pankow                         811
Steglitz-Zehlendorf            611
Neukölln                       255
Reinickendorf                  174
Lichtenberg                    139
Treptow-Köpenick               117
Spandau                         61
Marzahn-Hellersdorf             37
Name: count, dtype: int64

In [15]:
df['Ortsteil'].value_counts().head(10)

Ortsteil
Charlottenburg     1613
Wilmersdorf        1478
Mitte              1098
Schöneberg          720
Prenzlauer Berg     702
Kreuzberg           670
Moabit              504
Friedrichshain      366
Neukölln            233
Halensee            232
Name: count, dtype: int64

In [18]:
## In which year were most victims born?
df['Geburtsjahr'].value_counts().head(10)

Geburtsjahr
1886    245
1881    230
1878    228
1893    223
1882    222
1880    219
1885    219
1883    217
1887    216
1889    215
Name: count, dtype: int64

In [12]:
## In which street lived most victims?
df['Straße'].value_counts()

Straße
Sybelstr.              155
Giesebrechtstr.        122
Thomasiusstraße        114
Mommsenstr.             93
Trautenaustr.           81
                      ...
Nentwigstraße            1
Pflügerstraße            1
Wildenbruchplatz         1
Bruno-Bauer-Straße       1
Deidesheimer Straße      1
Name: count, Length: 1921, dtype: int64

In [17]:
## Most common name
df['Vorname'].value_counts().head(10)

Vorname
Max          218
Gertrud      183
Margarete    168
Martha       154
Else         123
Johanna      120
Rosa         118
Erna         112
Georg        100
Charlotte     99
Name: count, dtype: int64

In [16]:
## Most common surname
df['Nachname'].value_counts().head(10)

Nachname
Cohn           164
Wolff           90
Hirsch          73
Lewin           69
Levy            67
Rosenthal       66
Meyer           64
Schlesinger     43
Blumenthal      41
Goldstein       40
Name: count, dtype: int64